@import '../node_modules/bootstrap-icons/font/bootstrap-icons.css';

$roboto-font: "Roboto";

$dark-color: #242424;
$black-color: #000;
$gree-color: #f7f7f7;
$white-color: #fff;

$purple-dark-color: #31389e;
$purple-color: #6069eb;

$blue-black-color: #2c306b;
$blue-dark-color: #4c79d4;
$blue-color: #59b6f6;

$carousel-control-color: $blue-black-color;
$carousel-indicator-active-bg: $blue-black-color;
$carousel-caption-color: $blue-black-color;